/* final version */
body {
    font-family:"lato";
}

/* Change anchor tag styles throughout document*/
a {
    text-decoration: none;
    color: #20c063;
}

/* change anchor tag text-color of white letters */
a.white {
    color: white;
}


/* change anchor tag text-color of black letters */

/* contains img.logo and nav*/
header {
    background-color: #20c063; 
    display: flex;
}

img.logo {
    padding-left: 10px;
    padding-top: 15px;
}

/*contains buyrentNav savedNav */
nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 2;
}
    
.buyrentNav {
    display: flex;
    list-style: none;
    color: white;
    gap: 15px;
}

.savedNav {
    display: flex;
    list-style: none;
    color: white;
    gap: 10px;
    padding-right: 10px;
    } 

/*Circled J*/
.savedNav li span {
    border: 2px solid white;
    border-radius: 50%; 
    padding-top: 5px; /*I made the circle by decreasing padding in top and bottom and increeasing in right and left */
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    
    
    }
/* end of header */

/* beginning of main */
/* second line */
#secondRow {
    display: flex;
    margin-top: 30px;
}

/* change font-size of h1 and h2 */
#secondRow h1, #secondRow h2 {
    font-size: 14px;
}

/* unbold h2 and give left margin */
#secondRow h2 {
    font-weight: normal;
    margin-left: 10px;
}

/* Add larger left margin to h1 */
#secondRow h1 {
    margin-left: 30px;
}

/* contains houseCells */
.homeListings {
    background-color:#e8e9ea;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
            
}
/* Isn't .homelistings article selecting the same elements as .houseCell? */
.homeListings article {
    border-radius: 10px; /*Why are only the middle column cells rounding and why don't the corners look more rounded? */
}

/* contains img and houseDetails*/
.houseCell {
    display: grid;
    grid-template-rows: 350px 150px; 
    overflow: hidden;
         
    }

/* unordered list which also contains icon flexbox*/
ul.houseDetails {
    background-color: white; 
    list-style: none;
    padding-left: 10px; 
    margin-top: 0px;
}

/* Add top padding to home price and making font bold */
.homePrice {
    padding-top: 10px;
    font-weight: bold;
}

/* Add bottom margins to houseDetails items */
.homePrice, .bedandbathicons {
    margin-bottom: 5px;
}


/* Add right and left margins around first and third column details items */
.detailsHouse1, .detailsHouse3, .detailsHouse4, .detailsHouse6, .detailsHouse7, .detailsHouse9, .detailsHouse10, .detailsHouse12 {
    margin-left: 15px;
    margin-right: 15px;
}

/* Elminate bottom margins from first through third rows */
.detailsHouse1, .detailsHouse2, .detailsHouse3, .detailsHouse4, .detailsHouse5, .detailsHouse6, .detailsHouse7, .detailsHouse8, .detailsHouse9 {
    margin-bottom: 0px;
}

.bedandbathicons {
    display: flex;
    align-items: end;
    gap: 15px;
}

/* home images */
/* all home images */

.image {
    background-size: cover;
    margin-top: 15px;
    
}

/* Add right and left and right margins on first coulumn image items */
.imageHouse1, .imageHouse4, .imageHouse7, .imageHouse10 {
    margin-left: 15px;
    margin-right: 15px;
}

/*Add right and left margins on third column image items */
.imageHouse3, .imageHouse6, .imageHouse9, .imageHouse12 {
    margin-left: 15px;
    margin-right: 15px;
}

/* change color of addresses */
address {
    color: #929ba0;
    font-style: normal;
}

/* individual home images */
.imageHouse1 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-1.jpg");
}

.imageHouse2 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-2.jpg");
}
/* Text "new" in upper left corner of imageHouse2 */
.imageHouse2 p {
    background-color: #20c063;
    color: white; 
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 89%;
    padding-left: 5px;
    border-radius: 4px;
    }

    /*More individual home images */
.imageHouse3 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-3.jpg");
}

.imageHouse4 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-4.jpg");
}

.imageHouse5 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-5.jpg");
}

.imageHouse6 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-6.jpg");
}

.imageHouse7 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-7.jpg");
}

.imageHouse8 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-8.jpg");
}

.imageHouse9 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-09.jpg");
}

.imageHouse10 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-10.jpg");
}

.imageHouse11 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-11.jpg");
}

.imageHouse12 {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/house-12.jpg");
}
/* End of main */

/*Beginning of bottomNav */

.bottomNav {  /*contains page and geography navs */
    display: flex;
    flex-direction: column;
}

.pageNav, .geographyNav {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
    font-size: 14px;
}

/*1- 30 of 79 Results */
.bottomNav div {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    color: #929ba0; /* This is a grey I chose.  I tried both the light grey and dark grey provided, but the provided light grey color was almost invisble against the white background and the provided dark grey color looked almost black.  Is there a reason why the provided colors didn't render well in my browser? */
    font-size: 14px;
}

/* End of bottomNv  */

/*Beginning of Insight Section */
article.insightSection {
    margin-left: 25px;
    margin-top: 40px;
    margin-bottom: 50px;
}

article.insightSection h2 {
    font-size: 1.5em;
}

article.insightSection p {
    font-size: 14px;
}


/* Beginning of Footer */
footer {
    background-color: #3b4144;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-left: 20px;
    padding-top: 20px;
}

/*contains small */
.smallPrint {
    padding-bottom: 20px;
    text-align: center;
}

footer small {
    color: #e8e9ea; /*This is the light gray color provided, but as you can see, it looks almost white in the rendered site.  Not sure why */
    font-size: 10px;
         
}