
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}


    

.exerciseMainFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-bottom: 10px;

}

.exerciseMainFeatures :first-child {
    grid-column: 1/span 3;
}

.exerciseMainFeatures :last-child {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-column: 4/span 3;
}
    



.exerciseAdditionalFeatures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

}

.exerciseAdditionalFeatures :first-child {
    grid-column: 1/span 2;
}

.exerciseAdditionalFeatures :last-child {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-column: 5/span 2;

}

#midbox {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-column: 3/span 2;
}



.exerciseAdditionalFeatures .exerciseMarketingFeature:first-child {

}