
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;

}

.exerciseMainContent {
    grid-column: 2/span 4;


}

.exerciseMain :last-child {
    grid-column-start: 6;
    grid-column-end: 7;
}