
.exerciseHeader, .exerciseFooter, .exerciseMain {
    margin: 0 10px 10px 10px;
}

.exerciseMain {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;

}

.exerciseMainContent {
    grid-column: 1/span 2;
    
}

.exerciseMainAside {
    grid-column-start: 3;
    grid-column-end: 4;

}