/* Mobile First */

a {  /*get rid of underline on all links on page */
    text-decoration: none;
}

/*Header*/

/*Background image and "Menu" Link */
.LogoLarge {
    background-image: url("../Logos/BKLogoLarge.jpg");
    background-size:cover;
    height: 175px; /*This is a placeholder height; it will need to be changed */

}

/*This container permits me to easily position the mobileMenuLink */
.mobileMenuLink-grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.mobileMenuLink {
    font-family: "caveat";
    font-size: 1.5rem;
    font-weight: bold;
    grid-row: 5 / 6;
    place-self: end; 
    margin-right: 10px; 
}

/* Slid-out menu */
.mobileNavHide {
    display: grid;
    grid-template-columns: 1fr;
    background-color: yellow; /*This is a place holder color so I can see the menu.  It's real color is #EBF4FE  */
    
        
}
/*This is the x-out targeted by location and not by class name */
.mobileNavHide a {
    place-self: end; 
    margin-top: 5px;
    margin-right: 10px;
}

.mobileNavHide-Links {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none; 
    padding-left: 0;
    
}

.mobileNavHide-Links li {
    font-family: Arial, Helvetica, sans-serif;
    place-self: center;
}


/*Main */
.mainFootBackround {
    background-color: #EBF4FE;
}
.mobileMainGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2%;
}

.mobileMainGrid img {
    place-self:center;
}


/*Footer */
.footerFlexbox {
    display: flex;
    list-style: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    justify-content: center;
    padding-left: 0;
}

.footerFlexbox li {
    margin-left: 2px;
    margin-right: 2px;
}