h1 {
    background-color: indianred;
}

.big {
    background-color: lightblue;
}

.little {
    background-color:lightgreen;
}

.multi {
    background-color: palegoldenrod;
}

#bigContainer {
    display: flex;
    gap: 5px;
    justify-content: space-between;
   
    
}

#littleContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;

    
}

#multiBox {
    display:flex;
    gap: 5px;
}

p.big {
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    height: 40px;
}

#bigger {
    font-size: 60px;
}

p.little {
    
    }

p.first {
    font-size: 25px;
}

p.multi {
    height: 50px;

}

h1#bottom {
    border: solid black;
}