

.container1 {
    display: grid;
    grid-template-columns: min-content min-content;
   column-gap: 50px;
    
}
.container1 p {
    background-color:cyan;
}


.c3 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr;
     column-gap: 5px;
     row-gap: 5px;
}
     

.items {
    background-color: khaki;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fifteen {
    grid-column-start: 4;
    grid-column-end: span 2;
}

.twelve {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}